@media only screen and (max-width: 480px) {
  body {
    background-image: url("images/undraw_blogging_mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .form-group {
    border: 2px solid rgb(231, 228, 228);
    border-left: #5d2cd7 15px solid;
    border-radius: 10px 5px 5px 10px;
    color: rgb(216, 216, 216);
  }
  #checkrow {
    padding-left: 20px;
  }
  .form-group > .form-control {
    border: none;

    color: #5d2cd7;

    outline: none;
    box-shadow: none;
    background-color: white;
    height: 30px !important;
    padding-bottom: 5px;
  }
  .b {
    padding-left: 10px;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5d2cd7 !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #5d2cd7;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #5d2cd7;
  }
  .head1 {
    color: #5d2cd7;
    font-size: 180%;
    font-family: sans-serif;
    font-weight: bold;
  }
  .head {
    font-size: 150%;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 1;
    color: #3d3d3d;
  }
}

@media only screen and (min-width: 481px) and (max-width: 769px) {
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("images/undraw_blogging_vpvv.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 700px;
    padding-left: 50px;
    padding-right: 50px;
  }
  form {
    padding-right: 120px;
  }

  .container1 {
    padding: 20px;
  }
  .container2 {
    padding: 60px;
    line-height: 0.5;
  }
  #checkrow {
    padding-left: 20px;
  }

  .form-group {
    border: 2px solid rgb(231, 228, 228);
    border-left: #5d2cd7 15px solid;
    border-radius: 10px 5px 5px 10px;
    color: rgb(216, 216, 216);
  }
  .form-group > .form-control {
    border: none;

    color: #5d2cd7;

    outline: none;
    box-shadow: none;
    background-color: white;
    height: 30px !important;
    padding-bottom: 5px;
  }
  .b {
    padding-left: 10px;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5d2cd7 !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #5d2cd7;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #5d2cd7;
  }

  .container3 {
    padding: 60px;
    padding-top: 0px;
  }
  .form-group > .formGroupExampleInput {
    padding-left: 10px;
    color: rgb(216, 216, 216);
    height: 25px !important;
  }

  .head1 {
    color: #5d2cd7;
    font-size: 250%;
    font-family: sans-serif;
    font-weight: bold;
  }
  .head {
    font-size: 250%;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 1;
    color: #3d3d3d;
  }

  h2 {
    font-weight: lighter !important;
  }

  .paragraph1 {
    color: rgb(224, 222, 222);
    font-size: 150%;
  }

  .btn-login,
  .btn-signup {
    box-shadow: none;
    border: none;
    margin: none;
    outline: #5d2cd7;
    width: 100px;
    border-radius: 5px;
  }

  .btn-login {
    background-color: #5d2cd7 !important;
    border: 2px solid #5d2cd7;
    box-shadow: 1px 1px 2px #d3cae6, 0 0 15px#b1a9c7, 0 0 5px #b1aac1;
  }

  .btn-signup {
    background-color: #fff;
    border: 2px solid #5d2cd7;
    color: #5d2cd7 !important;
  }
}
